<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>레이스!</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="/js/sse.js"></script>
    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .form-lotto {
            max-width: 1000px;
            padding: 15px;
            margin: 0 auto;
        }

        .form-lotto .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

        .submit-button {
            margin-top: 10px;
        }
        .players {
            text-align: right;
        }
    </style>

</head>
<body>

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <form class="form-lotto" name="racingForm" id="racingForm" method="post" action="/reactive/play">
                <h2 class="text-center">박진감 넘치는 자동차 레이싱 게임 유저</h2>
                <div class="form-show-div form-group">
                    <h2>게임횟수</h2>
                    <input type="text" name="playCount" class="playCount form-control" value="" placeholder="게임횟수를 입력하세요. ex) 5">
                    <h2>이름을 입력하시오.</h2>
                    (이름마다 콤마로 구분해 주세요.)
                    <textarea class="form-control playersName" rows="3" name="playersName"
                              placeholder="에이군, 비군, 씨군, 디군"></textarea>
                </div>
                <div class="submit-button">
                    <button id="submitBtn" class="btn btn-lg btn-primary btn-block" type="button">게임 시작</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div id="racingResult">
            <table class="table" width="100%">
                <thead>
                    <tr>
                        <th width="100px">Name</th>
                        <th>Move</th>
                    </tr>
                </thead>
                <tbody class="game_table">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(document).ready(function(){
        $("#submitBtn").on('click', function(e){
            e.preventDefault();
            $(".game_table").empty();
            var playersName = $(".playersName").val();
            var playCount = $(".playCount").val();
            if(!$.trim(playersName)  ||!$.trim(playCount) ){
                alert("게임 횟수와 플레이어를 입력하세요.");
                return;
            }
            $('#submitBtn').prop("disabled", true);
            var $usersHtml = $("<tbody></tbody>");
            var evtSource = new EventSource("/game/play-stream?playersName="+playersName+"&playCount="+playCount);
            var playerPosition = {};
            evtSource.addEventListener('message', function (e) {
                $usersHtml.empty();
                var response = event.data;
                var responseJson = JSON.parse(response);
                responseJson.forEach(function(k){
                    var playerWidth = playerPosition[k.playerName];
                    if ( typeof playerWidth == "undefined" ){
                        playerWidth = 50;
                    }
                    var $userDivTr = $('<tr></tr>');
                    var $userDiv = $('<div/>').text('[==]').css('width', playerWidth).addClass('players').addClass(k.playerName);
                    var $userNameDivTd = $('<td></td>').text(k.playerName).appendTo($userDivTr);
                    var $userPosDivTd = $('<td></td>').append($userDiv);
                    $userDivTr.append($userNameDivTd);
                    $userDivTr.append($userPosDivTd);
                    $usersHtml.append($userDivTr);
                });
                $usersHtml.appendTo('.game_table');
                responseJson.forEach(function(k){
                    var playerWidth = $('.'+k.playerName).width();
                    var playerName = k.playerName;
                    playerWidth = ((k.pos + 1) * 10)+playerWidth;
                    playerPosition[playerName] = playerWidth;
                    $('.'+playerName).css("width", playerWidth);
                });
                $usersHtml.appendTo('.game_table');
            }, false);
            evtSource.onerror = function() {
                var keys = Object.keys(playerPosition);
                keys.sort(function(a, b) {
                    return playerPosition[b] - playerPosition[a]
                });
                $('.'+keys[0]).css('background','gold').css("font-weight","Bold");
                evtSource.close();
                $('#submitBtn').prop("disabled", false);
            }
            evtSource.onopen = function() {
            }
        });
    });
</script>
</body>
</html>

